{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container-fluid" my-4>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          {% comment %} <div class="carousel-item active"> {% endcomment %}
            <img src="/static/car-logo.jpg"  alt="...">
          {% comment %} </div> {% endcomment %}
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="content">
  <h1>Welcome {{request.user}} to</h1>
  <h1>Vehicle<br>Sharing<br>System</h1>
  <p>A system to accompany <br>the traveller with the owner of the vehicles.</p><br><br>
  <a href="/logout" class="btn">LOGOUT</a>
</div>
</div>
{% comment %} <img src="Vtingss.jpg" class="feature-img"> {% endcomment %}
{% endblock body %}
